# Node dependencies
node_modules/

# Editor/IDE config
.vscode/
.windsurf/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build output
/frontend/node_modules
/frontend/node
/frontend/build
/admin-frontend/node_modules
/admin-frontend/node
/admin-frontend/build

# Compilados Java (backend)
backend/target/

# Compilados Java en cualquier subcarpeta
**/target/

# Otros

# Por defecto, mantenemos package-lock.json y los SVGs generados en public
# Si quieres excluir más carpetas, añádelas aquí

# Ignore frontend build artifacts copied to the backend
backend/src/main/resources/static/*
!backend/src/main/resources/static/*.jpg
!backend/src/main/resources/static/.gitkeep

# Archivos de entorno de frontend
.env.local
